@import "src/styles/colors.scss";

.alert {
  position: sticky;
  z-index: 1;
  width: 100%;
  top: 0;
  justify-content: space-around;
  align-items: center;
  display: flex;
}

.manageCharacter {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px;
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 20px;

  .name {
    font-size: 50px;
  }

  .portrait {
    max-height: 200px;
    max-width: 200px;
    border-radius: 10px;
  }
}

.sheetPage {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}


.warningText {
  color: $red;
}

.plus {
  margin: 5px;
  cursor: pointer;
  font-size: 30px;
  color: $green;
}

.detailTitle {
  font-weight: bold;
  margin-top: 10px;
}

.resources {
  display: flex;
  justify-content: space-around;
  flex: 1;
  flex-wrap: wrap;
  align-items: baseline;
  user-select: none;
}
