@import "src/styles/colors.scss";

.title {
  font-size: 20px;
  font-weight: bold;
  margin: 5px;
}

.header {
  display: flex;
  justify-content: space-around;

  .name {
    font-size: 50px;
  }

  .portrait {
    max-height: 200px;
  }
}

.bio {
  border: 1px solid $black;
  border-radius: 10px;

  .bioTable {
    border-collapse: collapse;

    .row {
      border-top: 1px solid $black;

      &:first-of-type {
        border-top: none;
      }

      .cell {
        font-size: 14px;
        padding: 5px;

        &.description {
          padding-left: 10px;
          text-align: left;
          border-left: 1px solid $black;
        }
      }
    }
  }
}

.resources {
  display: flex;
  justify-content: space-around;
  flex: 1;
  flex-wrap: wrap;

  .resource {
    margin: 20px;
  }
  
  .info {
    position: relative;
  
    .icon {
      position: absolute;
      left: calc(50% - 25px);
      opacity: 0.2;
    }
  
    .value {
      padding-top: 10px;
      font-size: 24px;
    }
  
    .subtext {
      font-size: 14px;
    }
  }
}

.stats {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .section {
    display: inline-block;
    border: 1px solid $black;
    border-radius: 10px;
    margin: 5px;

    .title {
      display: inline-block;
    }

    .subtitle {
      display: flex;
      justify-content: space-around;
      font-size: 12px;
    }

    .columnHeader {
      font-size: 16px;
    }

    .list {
      display: inline-flex;
      margin: 0 3px 3px;
      font-size: 12px;

      .column {
        padding: 0 10px 5px;
      }
    }

    .table {
      font-size: 12px;
      border-collapse: collapse;

      &.borderless {
        margin: 0 10px 10px;
      }

      .title {
        display: table-cell;
      }
      
      .cell {
        border-left: solid $black 1px;
        border-top: solid $black 1px;
        padding: 5px 10px;
    
        &:first-child {
          border-left: none;
        }
      }
    }
  }
}
