@import "src/styles/colors.scss";

.equipment {
  border: 1px solid $black;
  border-radius: 10px;
  display: inline-block;
  margin: 5px;

  .title {
    font-size: 20px;
    font-weight: bold;
  }

  .subtitle {
    display: flex;
    justify-content: space-around;
    font-size: 12px;
  }

  .table {
    display: inline-flex;

    .column {
      padding: 0 10px 5px;

      .data {
        font-size: 12px;
      }
    }
  }
}
