@import "src/styles/colors.scss";

.title {
  font-size: 20px;
  font-weight: bold;
  margin: 5px;
}

.header {
  display: flex;
  justify-content: space-around;

  .name {
    font-size: 50px;
  }

  .portrait {
    max-height: 200px;
  }
}

.stats {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .resources {
    display: flex;
    justify-content: space-around;
    flex: 1;

    .resource {
      margin: 20px;
    }
    
    .info {
      position: relative;
    
      .icon {
        position: absolute;
        left: calc(50% - 25px);
        opacity: 0.2;
      }
    
      .value {
        padding-top: 10px;
        font-size: 24px;
      }
    
      .subtext {
        font-size: 14px;
      }
    }
  }

  .section {
    display: inline-block;
    border: 1px solid $black;
    border-radius: 10px;
    margin: 5px;

    .title {
      display: inline-block;
    }

    .subtitle {
      display: flex;
      justify-content: space-around;
      font-size: 12px;
    }

    .columnHeader {
      font-size: 16px;
    }

    .list {
      display: inline-flex;
      margin: 0 3px 3px;
      font-size: 12px;

      .column {
        padding: 0 10px 5px;
      }
    }

    .table {
      font-size: 12px;
      border-collapse: collapse;

      .title {
        display: table-cell;
      }
      
      .cell {
        border-left: solid $black 1px;
        border-top: solid $black 1px;
        padding: 0 10px;
    
        &:first-child {
          border-left: none;
        }
      }
    }
  }
}
