@import "src/styles/colors.scss";

.weaponsList {
  border: 1px solid $black;
  border-radius: 10px;
  display: inline-block;

  .weaponsTitle {
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
  }

  .weaponsTable {
    display: inline-flex;

    .weaponColumn {
      padding: 0 10px 5px;

      .weaponData {
        font-size: 12px;
      }
    }
  }
}
