@import "src/styles/colors.scss";

.skillsList {
  border: 1px solid $black;
  border-radius: 10px;
  display: inline-block;
  margin: 5px;

  .title {
    font-size: 20px;
    font-weight: bold;
    display: inline-block;
  }

  .table {
    display: inline-flex;
    font-size: 12px;
    margin: 0 3px 3px;
  
    .spacer {
      padding: 5px 0;
      line-height: 2;
      white-space: pre-wrap;
    }
  }
}
