@import "src/styles/colors.scss";

.editor {
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;

  &:hover {
    background-color: $blue;
    color: $white;
  }
}

.editing {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .input {
    flex: 1;
    min-width: 200px;
  }

  .doneButton {
    margin: 5px;
  }
}
