@import "src/styles/colors.scss";

.footer {
  flex-wrap: wrap;

  .closer {
    margin: 5px;
  }
}

.opener {
  padding: 3px;
  margin: 2px;
  border-radius: 10px;
  cursor: pointer;
  background-color: $blue;
  color: $white;

  &:hover {
    background-color: $darkBlue;
  }
}
