@import "src/styles/colors.scss";

.button {
  background-color: $dark;
  padding: 0 1px;
  margin: 5px;
  border-radius: 3px;
  box-shadow: 1px 1px 5px 1px $dark;
  cursor: pointer;
  font-size: 24px;

  &.plus {
    color: $success;
  }

  &.pen {
    color: $yellow;
  }
}

.field {
  margin: 5px;
  display: flex;
  justify-content: space-between;
  
  .input {
    width: 70%;
  }
}

.inline {
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;

  &:hover {
    background-color: $orange;
    color: $pale;
  }
}

.footer {
  flex-wrap: wrap;

  .close {
    margin: 5px;
  }
}