@import "src/styles/colors.scss";

.table {
  font-size: 12px;
  width: 100%;
  border-collapse: collapse;

  &.bio {
    border: 1px solid $lightGrey;

    .field {
      width: 150px;
      background-color: $blue;
      color: $white;
    }

    .cell {
      white-space: pre-wrap;
    }
  }

  .cell {
    border-top: solid $lightGrey 1px;
    padding: 5px 10px;

    &.columnHeader {
      border-top: none;
    }

    &:first-child {
      border-left: none;
    }
  }

  .columnHeader {
    font-weight: bold;
  }

  .tableAdd {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
  }
}

.bioAdd {
  margin: 20px;
  display: inline-block;
  padding: 10px 20px;
}
