@import "src/styles/colors.scss";

.editor {
  padding: 6px;

  &:hover { 
    background-color: $orange;
    border-radius: 10px;
    padding: 5px;
    border: 1px solid $black;
    cursor: pointer;
    box-shadow: 1px 1px 5px 1px $grey;

    &:active {
      box-shadow: inset 1px 1px 5px 1px $grey;
    }
  }
}



.doneButton {
  margin-left: 10px;
}