@import "src/styles/colors.scss";

.editor {
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;

  &:hover {
    background-color: $orange;
    color: $pale;
  }
}

.editing {
  display: flex;

  .input {
    flex: 1;
    border-radius: 5px;
    border: 1px solid $grey;
    padding-left: 5px;
    background: $lightGrey;
  }
  
  .doneButton {
    margin-left: 10px;
  }
}
