@import "src/styles/colors.scss";

.editor {
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;

  &:hover {
    background-color: $orange;
    color: $pale;
  }
}

.doneButton {
  margin-left: 10px;
}