
.alert {
  position: sticky;
  z-index: 1;
  width: 100%;
  top: 0;
  justify-content: space-around;
  align-items: center;
  display: flex;
}

.manage {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px;
}
