@import "src/styles/colors.scss";

.table {
  font-size: 12px;
  width: 100%;
  border-collapse: collapse;

  &.bio {
    font-size: 16px;
    border-bottom: 1px solid $lightGrey;

    .field {
      width: 150px;
      background-color: $blue;
      color: $white;
    }
  }

  &.borderless {
    margin: 0 10px 10px;
    width: calc(100% - 20px);

    @media screen and (max-width: 400px) {
      margin: 0 5px 5px;
    }

    .borderlessCell {
      @media screen and (max-width: 400px) {
        padding: 2px;
        margin: 0;
        min-width: 0;
      }
    }
  }

  .cell {
    border-top: solid $lightGrey 1px;
    padding: 5px 10px;

    &.columnHeader {
      border-top: none;
    }

    &:first-child {
      border-left: none;
    }
  }

  .columnHeader {
    font-weight: bold;
  }

  .tableAdd {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
  }
}
