@import "src/styles/colors.scss";

@keyframes bounce {
  0%, 80%, 100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}

.bouncer {
  margin: 40px auto;
  text-align: center;

  .dot {
    width: 20px;
    height: 20px;
    margin: 5px;
    background-color: $orange;
    border-radius: 100%;
    display: inline-block;
    animation: bounce 1.4s ease-in-out 0s infinite both;

    &.bouncer1 {
      animation-delay: -0.32s;
    }

    &.bouncer2 {
      animation-delay: -0.16s;
    }
  }
}

