@import "src/styles/colors.scss";

.box {
  border: 1px solid $lightGrey;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;

  .title {
    font-weight: bold;
    margin: 5px;
  }

  .smallFields {
    font-size: 14px;
    padding: 5px;
    white-space: nowrap;
    user-select: none;
  }

  .control {
    padding: 5px;
    cursor: pointer;
    font-size: 30px;

    &.plus {
      color: $green;
    }

    &.minus {
      color: $red
    }
  }
}
