@import "src/styles/colors.scss";

.rules {
  display: flex;
  flex-direction: column;

  .card {
    padding: 10px;
    text-align: justify;
    text-indent: 30pt;

    .nestedCard {
      width: calc(100% - 10px);
    }
  }

  .table {
    margin: 5px auto;
    text-align: center;
    user-select: none;

    &.critical {
      text-align: left;
      text-indent: 0;
      border: 1px solid $lightGrey;
      border-collapse: collapse;

      .cell {
        min-width: 50px;
        border: 1px solid $lightGrey;
      }
    }

    .columnHeader {
      font-weight: bold;
    }
  }
}

.cardTable {
  font-size: 12px;
  width: 100%;
  border-collapse: collapse;
  text-indent: 0;

  .cell {
    border: solid $lightGrey 1px;
    border-right: none;
    border-bottom: none;
    padding: 5px 10px;

    &:first-child {
      border-left: none;
      white-space: nowrap;
    }
  }
}

.skillDetail {
  @media screen and (max-width: 530px) {
    padding: 2px;
    font-size: 12px;
    min-width: 0;
  }
  @media screen and (max-width: 400px) {
    font-size: 10px;
    padding: 4px;
  }
}
