@import "src/styles/colors.scss";

.card {
  padding: 10px;
  text-align: justify;
  text-indent: 30pt;

  .nestedCard {
    width: calc(100% - 10px);
  }
}

.table {
  margin: 5px auto;
  text-align: center;

  &.critical {
    text-align: left;
    text-indent: 0;
    border: 1px solid $lightGrey;
    border-collapse: collapse;
    width: 100%;
    font-size: 12px;

    .cell {
      min-width: 50px;
      border: 1px solid $lightGrey;
      padding: 3px 10px;

      &:first-child {
        text-align: center;
      }
    }
  }
}

.cardTable {
  font-size: 12px;
  width: 100%;
  border-collapse: collapse;
  text-indent: 0;

  .cell {
    border: solid $lightGrey 1px;
    border-bottom: none;
    padding: 5px 10px;

    &:first-child {
      white-space: nowrap;
    }
  }
}
