@import "src/styles/colors.scss"; 

.rules {
  display: flex;
  flex-direction: column;

  .card {
    padding: 10px;
    text-align: justify;
    text-indent: 30pt;
  }

  .table {
    margin: 5px auto;
    
    .columnHeader {
      font-weight: bold;
    }
  }

  .nestingCard {
    display: flex;
    flex-direction: column;
  }
}