@import "../../styles/colors.scss";

.navBar {
  display: flex;
  width: 100%;
  justify-content: space-around;
  border-radius: 10px;
  margin: 10px;

  .navLink {
    padding: 5px;
    background-color: $orange;
    border-radius: 10px;
    border: 1px solid $black;
    width: 110px;
    cursor: pointer;
  }

  .current .navLink{
    background-color: $yellow;
  }
}