@import "../../styles/colors.scss";

.navBar {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
  border-radius: 10px;
  margin: 10px;

  .navLink {
    width: 110px;
    margin: 10px;
  }

  .current .navLink{
    background-color: $yellow;
  }
}