@import "src/styles/colors.scss";

.header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 20px;

  .nameAndBio {
    flex: 1;

    .name {
      font-size: 50px;
      font-family: immortal;
    }
  }
}

.combatants {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
}
