@import "src/styles/colors.scss";

.card {
  text-align: start;
  margin: 10px;

  &.concepts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;

    .concept {
      width: 150px;
      white-space: nowrap;
      border: 1px solid $lightGrey;
      padding: 3px 10px;
    }
  }

  .link {
    min-width: 300px;
  }
}
