$orange: #E05038;
$darkOrange: #a92f1a;
$lightOrange: #e98473;
$yellow: #F7CA18;
$dark: #334431;
$pale: #f2cbbc;
$grey: #808080;
$lightGrey: #E9E9E9;
$success: #00C07F;
$failure: #FF6562;
$white: white;
$black: black;
