$orange: #E05038;
$darkOrange: #a92f1a;
$blue: #1789FC;
$darkBlue: #00008B;
$yellow: #F3C13A;
$dark: #334431;
$pale: #f2cbbc;
$grey: #808080;
$lightGrey: #CCCCCC;
$success: #00C07F;
$failure: #FF6562;
$white: white;
