$orange: #FF5722;
$darkOrange: #E64A19;
$lightOrange: #FFCCBC;
$blue: #00838F;
$darkBlue: #006064;
$green: #00C07F;
$darkGreen: #009251;
$red: #F44336;
$darkRed: #B71C1C;
$yellow: #FFC107;
$darkYellow: #D19D00;
$lightGrey: #CCCCCC;
$grey: #999999;
$white: white;
$black: black;
