@import "node_modules/bootstrap/scss/bootstrap";

@font-face {
  font-family: immortal;
  src: url('./immortal.ttf')
}

a {
  color: inherit;
  text-decoration: inherit;

  &:hover {
    color: inherit;
    text-decoration: inherit;
  }
}

body {
  font-size: 16px;
}

.App {
  text-align: center;
  padding-bottom: 50px;
}
