@import "src/styles/colors.scss";

.input {
  border-radius: 5px;
  border: 1px solid $lightGrey;
  padding-left: 5px;
  display: block;
  overflow: hidden;
  resize: none;
  min-height: 28px;
  max-height: 300px;

  &:focus {
    outline: none;
    box-shadow: 0 0 0 1px $blue;
  }

  &.invalid {
    border-color: $red;

    &:focus {
      outline: none;
      box-shadow: 0 0 0 1px $red;
    }
  }
}
