@import "src/styles/colors.scss";

.button {
  padding: 5px;
  margin: 5px;
  text-align: center;
  color: $black;
  background-color: $white;
  border-radius: 2px;
  transition: background-color 300ms, color 300ms;
  cursor: pointer;
  min-width: 80px;
  box-shadow: 0 2px 5px 0 rgba($black, 0.26);

  &:hover {
    background-color: $blue;
    color: $white;
  }

  &.noStyle {
    box-shadow: none;
    min-width: 0;
    margin: 0;
    padding: 0;

    &:hover {
      background-color: $white;
      color: $black;
    }
  }

  &.tr {
    box-shadow: none;
    min-width: 0;
    margin: 0;
    padding: 0;
  }

  &.primary {
    background-color: $orange;
    color: $white;

    &:hover {
      background-color: $darkOrange;
    }
  }

  &.secondary {
    background-color: $blue;
    color: $white;

    &:hover {
      background-color: $darkBlue;
    }
  }

  &.warning {
    background-color: $red;
    color: $white;

    &:hover {
      background-color: $darkRed;
    }
  }

  &.success {
    background-color: $green;
    color: $white;

    &:hover {
      background-color: $darkGreen;
    }
  }

  &.text {
    box-shadow: none;

    &:hover {
      background-color: $lightGrey;
      color: $black;
    }
  }

  &.disabled {
    cursor: not-allowed;
    opacity: 0.2;
    pointer-events: none;
  }
}
