@import "src/styles/colors.scss";

.button {
  padding: 5px;
  background-color: $blue;
  color: $white;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  box-shadow: 0 0 5px 1px $grey;
  transition: background-color 500ms;
  min-width: 80px;

  &:active {
    box-shadow: inset 1px 1px 5px 1px $grey;
  }

  &:hover {
    background-color: $darkBlue;
  }
}
